config.stopBubbling = true

lombok.log.fieldName=LOG
lombok.accessors.fluent=false
lombok.accessors.chain=false

lombok.anyConstructor.addConstructorProperties=true

lombok.nonNull.exceptionType=Assertion

lombok.copyableannotations+=jakarta.inject.Named
lombok.copyableannotations+=io.micronaut.core.annotation.Nullable
lombok.copyableannotations+=com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableannotations+=io.micronaut.serde.annotation.Serdeable
lombok.copyableannotations+=io.micronaut.serde.annotation.Serdeable$Serializable
lombok.copyableannotations+=io.micronaut.serde.annotation.Serdeable$Deserializable
